body
{
    margin:0px;
}
#topbar
{
    border-bottom: 4px solid #009EDB;
    background-color: #F2F2F2;
    margin:0px;
    padding:10px;
}
.tbfont
{
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#home
{
    float:left;
    height:20px;
    margin-left: 40px;
}
.main
{
    margin:2% 10% 10% 10%;
}

#topimg
{
    height:85px;
    margin:px;
}
#mainhead
{
    display:inline-block;
    border-right: 1px solid black;
    font-weight: 710;
    margin:0px;
    word-spacing: 0px;
    padding: 0px 20px 0px 0px ;
    font-size: 42px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidehead
{
    display:inline-block;
    font-size: 24px;
    margin-left: 20px;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    font-weight:700 ;
}
#livenow
{
    float:right;
    color:#4D4D4D;
    text-decoration-line: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border:2px solid red;
    padding:8px 10px 8px 10px;
    border-radius: 5px;
}
